<DemoTabControl>
    <DemoTabPage Text="Tab 1">
        <h1>Tab 1 content</h1>
    </DemoTabPage>
    <DemoTabPage Text="Tab 2">
        <h1>Tab 2 content</h1>
    </DemoTabPage>
    <DemoTabPage Text="Tab 3">
        <h1>The third tab</h1>
    </DemoTabPage>
</DemoTabControl>