@{
    ViewData["Title"] = "Blazor Demos";
}

<div class="text-center">
    <h1 class="display-4">Blazor Demos</h1>
    <p>
        <a class="nav-link text-dark" asp-area="" asp-controller="Demo" asp-action="Counter">Counter Demo</a><br />
        <a class="nav-link text-dark" asp-area="" asp-controller="Demo" asp-action="TabDemo">Tab Demo</a><br />
    </p>
</div>
