@using ContosoUniversity.Shared.ViewModels.Courses
@model List<CourseListItem>
@{
    ViewData["Title"] = "Courses";
}
<h1 class="h2">Courses - MVC</h1>

@await Html.PartialAsync("Partial/CourseListPartial", Model)
