@using ContosoUniversity.Shared.ViewModels.Courses
@model List<CourseListItem>
@{
    ViewData["Title"] = "Courses";
}
<h1 class="h2">Courses - MVC</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@await Html.PartialAsync("Partial/CourseListPartial", Model)
